<h1>Sign Up</h1>
<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
   <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions"><%= f.submit %></div> 
<% end %>
  
  <!--<div class="input-group input-group-lg">
    <span class="input-group-addon" id="sizing-addon1">Name</span>
      <input type="text" class="form-control" placeholder="" aria-describedby="sizing-addon1">
  </div>
  <div class="input-group input-group-lg">
    <span class="input-group-addon" id="sizing-addon1">Email</span>
      <input type="text" class="form-control" placeholder="" aria-describedby="sizing-addon1">
  </div>
  <div class="input-group input-group-lg">
    <span class="input-group-addon" id="sizing-addon1">Password</span>
      <input type="text" class="form-control" placeholder="" aria-describedby="sizing-addon1">
  </div>
  <div class="input-group input-group-lg">
    <span class="input-group-addon" id="sizing-addon1">Password Confirmation</span>
      <input type="text" class="form-control" placeholder="" aria-describedby="sizing-addon1">
  </div>
  <button type="button" class="btn btn-success">Sign Up</button>-->