<h1><%= @artist ? "Songs by #{@artist}" : "All Songs" %></h1>

  <div class="row">
    <div class="col-md-4 col-md-offset-2">
      <% @songs.each_with_index do |song, i| %>
        <% if i % 2 == 0 %>
          <a href="/songs/<%= song.id %>">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><%= song.title %></h3>
              </div>
              <div class="panel-body text-left">
                <p>Artist:&nbsp;&nbsp;<%= song.artist %></p>
                <p class="text-muted">Genre:&nbsp;&nbsp;<%= song.genre %></p>
              </div>
            </div>
          </a>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-4">
      <% @songs.each_with_index do |song, i| %>
        <% if i % 2 != 0 %>
          <a href="/songs/<%= song.id %>">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><%= song.title %></h3>
              </div>
              <div class="panel-body text-left">
                <p>Artist:&nbsp;&nbsp;<%= song.artist %></p>
                <p class="text-muted">Genre:&nbsp;&nbsp;<%= song.genre %></p>
              </div>
            </div>
          </a>
        <% end %>
      <% end %>
    </div>
  </div>
<br>

<%= link_to "Back to Home", root_path %>